body, html         {
    margin:0 ;
    background-color: #f3f3f3;
}

.navbar-toggler {
    background-color: #ffc107;
}

a.link-dark i:hover, a.link-light i:hover {
    color: #ffc107!important;
}
a.nav-link.active, a.nav-link:hover {
    border-color: #ffc107!important;
    border-bottom: 6px solid;
    border-top: 8px solid;
    border-radius: 0.375rem;
    transition : 0.5s ease-in-out ;
}
a.nav-link {
    border-color: #222529!important;
    border-bottom: 6px solid;
    border-top: 8px solid;
    border-radius: 0.375rem;
    transition : 0.5s ease-in-out ;
    margin : auto 1em;
}
.btn:hover{
    transform: rotate(5deg);
    transition: .3s ease-in-out;
    font-weight: 700;
}
a.navbar-brand:hover{
    transform: rotate(360deg);
    transition: .3s ease-in-out;
}
@keyframes changewidth {
    from {
transform: scaleX(1);
    }
    to {
transform: scaleX(1.3);
    }
}
img#coming-soon {
    animation-duration: 10s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /*z-index: 2;*/
    background-color: #080d15;
    opacity: .7;
}
.carousel-caption {
    z-index: 2;
}

a .btn .btn-warning {
    border-radius: .5em 1em .5em 1em!important;
}