body, html         {
    margin:0 ;
    background-color: #f3f3f3;
}

.navbar-toggler {
    background-color: #ffc107;
}

a.link-dark i:hover, a.link-light i:hover {
    color: #ffc107!important;
}
a.nav-link.active, a.nav-link:hover {
    border-color: #ffc107!important;
    border-bottom: 6px solid;
    border-top: 8px solid;
    border-radius: 0.375rem;
    transition : 0.3s ease-in-out ;
}
a.nav-link {
    border-color: #222529!important;
    border-bottom: 6px solid;
    border-top: 8px solid;
    border-radius: 0.375rem;
    transition : 0.3s ease-in-out ;
    margin : auto 1em;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /*z-index: 2;*/
    background-color: #080d15;
    opacity: .7;
}
.carousel-caption {
    z-index: 2;
}

a .btn .btn-warning {
    border-radius: .5em 1em .5em 1em!important;
}